body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://wallpapercave.com/wp/wp7829300.jpg);
    image-rendering: optimizeQuality;

}
